* {
    box-sizing: border-box;
}

h1 {
    margin: -10px 10px 33px 0;
}

.payment-widget {
    max-width: 950px;
    margin: 0 auto;
}

.payment-widget__title {
    text-align: center;
    font-family: Arial;
    font-size: 23px;
}

.payment-form {
    position: relative;
    width: 541px;
    height: 462px;
    background: url(../img/credit-card-bg.png) top center no-repeat;
}

.form-input {
    padding: 0 10px;
    position: absolute;
    border: 0px; /* ноль это просто ноль(отмена) обозначения px не обязательны*/
    border-radius: 3px; /*отдельное css3 свойство, не является частью свойства border*/
    height: 38px;
}

.form-input--card-number {
    width: 210px;
    top: 120px;
    left: 25px;
}

.form-input--card-expiration-date {
    text-align: center;
    top: 120px;
    left: 300px;
    width: 82px;
}

.form-input--cvv {
    text-align: center;
    width: 82px;
    top: 120px;
    left: 432px;
}

.form-input--full-name {
    width: 357px;
    top: 180px;
    left: 25px;
}

/* TODO - content-box*/

.supported-credit-cards-list {
    display: inline-table;
    margin: 30px 22px;
}

.payment-widget__credit-card {
    float: left;
    width: 625px;
    border-right: solid 1px lightgrey;
    height: 390px;
}

.supported-credit-cards-list__item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
}

.icon {
    display: inline-block; /* использовать в паре! inline-block добавляет 2px отступа снизу!!!*/
    vertical-align: top;
}

.icon--visa {
    background: url("../img/card-visa.svg");
    width: 59px;
    height: 20px;
}

.icon--master-card {
    background: url("../img/card-master.svg");
    width: 49px;
    height: 32px;
}

.icon--discover {
    background: url("../img/card-discovery.svg");
    width: 43px;
    height: 32px;
}

.icon--american-expsess {
    background: url("../img/card-american-express.svg");
    width: 40px;
    height: 33px;
}

/* Вторая часть формы */

.payment-agreement {
    margin: 192px 0 0 25px;
    font-family: Arial;
    font-size: 14px;
}

.payment-agreement p {
    color: #3c3c3c;
    font-weight: bold;
    margin: 14px 0 25px 0;
}

.form-zip-postal-code {
    font-weight: bold;
    color: #3c3c3c;

}

.form-zip-postal-code span {
    vertical-align: -webkit-baseline-middle;
}

.form-input--zip-postal-code {
    border: 1px solid lightgrey;
    padding: 0 0 0 10px;
    height: 30px;
    width: 160px;
    margin: 0 0 0 17px;
}

.form-checkbox {
    float: right;
    padding: 15px 0px 0px 0px;
}

.form-checkbox a {
    margin: 0 75px 0 0;
}

.form-checkbox span {
    margin: 0 5px 0 0;
}

.form-checkbox button {
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    border: none;
    margin: 25px 0 0 0;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    background-color: #fe8000;
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );

}

.form-checkbox label {
    position: relative;
}

.form-checkbox label:before {
    margin: 0 15px 0 0;
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    border: solid 1px lightgrey;
    border-radius: 3px;
    vertical-align: middle;
}

.form-checkbox input {
    display: none;
}

.form-checkbox input:checked + label:after {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: black;
    vertical-align: middle;
    position: absolute;
    left: 1px;
    top: 2px;
    background: url("../img/check-gliphon.png") no-repeat;
    background-size: 255%;
    overflow:hidden;
}



.form-input--text {
    padding: 15px 0 0 0;
}

.clear  {
    clear: both;
}

/* Правая колонка */

.payment-widget__custom-methods {
    float: left;
    width: 325px;
    /*background: lightgrey;*/

}

.payment-widget__custom-methods span {
    display: inline-block;
    margin: 0px 0 15px 95px;
    border: solid 1px lightgrey;
    width: 220px;
    height: 50px;
    border-radius: 3px;

}

.icon-apple-pay {
    background: url(../img/icon-apple-pay.svg) no-repeat 52%, black;
    background-size: 59px;
}

.icon-google-pay {
    background: url(../img/icon-google-pay.svg) no-repeat 50%;
    background-size: 56px;
}

.icon-pay-pal {
    background: url(../img/icon-pay-pal.svg) no-repeat 59% 70%, #26a8f5;
    background-size: 88px;
}

.paypal-button-wrap {
    width: 220px;
    height: 156px;
    border: solid 1px lightgrey;
    margin: 10px 0 0 95px;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.paypal-button-wrap span {
    margin: 27px 0 0px 50px;
    border: none 1px lightgrey;
    width: 115px;
    height: 45px;
    border-radius: 5px;
}

.paypal-button-wrap p {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #3c3c3c;
    margin: 23px 0px 0px 30px;
}

.hover-button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 200ms;
}

.hover-button:active {
    box-shadow: 0 0 20px rgba(0,0.5,0,0.5);
    transition: 200ms;
}

/*done*/











