* {
    box-sizing: border-box;
}

.payment-widget {
    width: 600px;
    margin: 0 auto;
}

.payment-widget__title {
    text-align: center;
    font-family: Arial;
    font-size: 23px;
}

.payment-form {
    position: relative;
    width: 541px;
    height: 462px;
    background: url(../img/credit-card-bg.png) top center no-repeat;
}

.form-input {
    padding: 0 10px;
    position: absolute;
    border: 0px; /* ноль это просто ноль(отмена) обозначения px не обязательны*/
    border-radius: 3px; /*отдельное css3 свойство, не является частью свойства border*/
    height: 38px;
}

.form-input--card-number {
    width: 210px;
    top: 120px;
    left: 25px;
}

.form-input--card-expiration-date {
    text-align: center;
    top: 120px;
    left: 300px;
    width: 82px;
}

.form-input--cvv {
    text-align: center;
    width: 82px;
    top: 120px;
    left: 432px;
}

.form-input--full-name {
    width: 357px;
    top: 180px;
    left: 25px;
}

/* TODO - content-box*/

.supported-credit-cards-list {
    display: inline-table;
    margin: 30px 22px;
}

.supported-credit-cards-list__item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
}

.icon {
    display: inline-block; /* использовать в паре! inline-block добавляет 2px отступа снизу!!!*/
    vertical-align: top;
}

.icon--visa {
    background: url("../img/card-visa.svg");
    width: 59px;
    height: 20px;
}

.icon--master-card {
    background: url("../img/card-master.svg");
    width: 49px;
    height: 32px;
}

.icon--discover {
    background: url("../img/card-discovery.svg");
    width: 43px;
    height: 32px;
}

.icon--american-expsess {
    background: url("../img/card-american-express.svg");
    width: 40px;
    height: 33px;
}

/* Вторая часть формы */

.subscription-argument {
    margin: 200px 0 0 0;
}

.form-input-subscription-argumet--zip-postal-code {
    border: 1px solid gray;
}




















